*{
	margin: 0;
	padding: 0;
}
body{
	background: #ccc;
}
.continer{
	width: 960px;
	height: 450px;
	margin: 60px auto;
}
.pic{
	/*每张图片的宽度*/
	 width: 150px;
}
.continer img{
	padding: 10px;
	background: white;
	box-shadow: 5px 5px 3px rgba(50,50,50,0.4);
	border-radius: 20px;
	/*过渡效果*/
	transition: all 0.5s;
}
/*设置每一张图片的倾斜角度*/
.pic1{
	/*倾斜角度*/
	transform: rotate(-5deg);
}
.pic2{
	transform: rotate(20deg);
}
/*鼠标事件*/
.continer img:hover{
	/*放大属性*/
	transform: scale(1.5);
}
